.envoltura 	{
	display:block;
	border: 1px solid black;
}

.one 	{
	background-color: #97FF26;
}

.two 	{
	background-color: #A311FF;
}

.three 	{
	background-color: #0FD6FF;
}

.x 	{
	height:100px;
	width:25%;
	float:left;
}